.infection {    
    /* Shape color. */
    -shape-outer: black;
    -shape-inner: white;
    -shape-fill: linear-gradient(to bottom, white 0%, lightgray 50%, derive(lightgray, -10%) 50% derive(lightgray, 20%) 100%);
    /* Marker color. */
    -marker-color: green;
    -marker-outer: derive(-marker-color, -50%);
    -marker-inner: derive(-marker-color, 50%);
    -marker-fill: linear-gradient(to bottom, derive(-marker-color, -50%) 0%, derive(-marker-color, 20%) 100%);
    /* Label color. */ 
    -label-fill: linear-gradient(to bottom, black 0%, derive(black, 60%) 100%);
    //
    -fx-background-color: -shape-outer, -shape-inner, -shape-fill;
    -fx-background-insets: 0px, 2px, 3px;
    -fx-background-radius: 15px 0px 0px 15px, 13px 0px 0px 13px, 12px 0px 0px 12px;
    -fx-pref-width: 120px;   
    -fx-pref-height: 30px;   
}
/* Label. */
.infection .label {    
    -fx-graphic-text-gap: 2px;
    -fx-font-family: calibri;
    -fx-font-weight: bold;
    -fx-font-size: 1.8em;
    -fx-text-fill: -label-fill; 
}
/* Marker. */
.infection > * >  .marker {
    -fx-background-color: -marker-outer, -marker-inner, -marker-fill;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 10, 9, 8 ;
    -fx-pref-width: 20;   
    -fx-pref-height: 20;   
}
/* States. */
.infection:increasing {
    -marker-color: red;
}
.infection:decreasing {
    -marker-color: royalblue;
}
.infection:unknown {
    -marker-color: gray;
}
